DRAW Brooklyn | CUSP internship <br>
April 2019

# Digital CEQR Chapter 6: Transportation
### Analysis objectives and background
### Research Question/s:
### Methodology:

---- 
# 0 - Imports

In [1]:
import requests
import pandas as pd
import numpy as np

from __future__ import print_function, division
import matplotlib.pylab as pl
import seaborn as sns
sns.set_style('whitegrid')
import json

# Spatial
import geopandas as gpd
import fiona
import shapely

import statsmodels.formula.api as smf
import statsmodels.api as sm

%pylab inline

Populating the interactive namespace from numpy and matplotlib

# 1 - Data

In [2]:
#read in in the variables available. the info you need is in the 1year ACS data
url = "https://api.census.gov/data/2017/acs/acs5/variables.json"
resp = requests.request('GET', url)
aff1y = json.loads(resp.text)

In [3]:
#turning things into arrays to enable broadcasting
#Python3
affkeys = np.array(list(aff1y['variables'].keys()))

affkeys

array(['B19037I_005E', 'B05003B_005E', 'B24124_410E', ..., 'B02017_026E',
       'B19101_015E', 'B26201_163E'], dtype='<U14')

In [20]:
# keyword for Commuying estimates
drive = 'B08015_001E'
workers = 'B08101_001E'
public = 'B08113_025E'

aff1y['variables'][public]

{'attributes': 'B08113_025M,B08113_025MA,B08113_025EA',
 'concept': 'MEANS OF TRANSPORTATION TO WORK BY LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH',
 'group': 'B08113',
 'label': 'Estimate!!Total!!Public transportation (excluding taxicab)',
 'limit': 0,
 'predicateType': 'int'}

In [21]:
# commute_age data for all counties in the US
commute = pd.read_json('https://api.census.gov/data/2017/acs/acs5?get='+
                         workers + ',' +
                         drive + ',' +
                         public + ',' +
                         'NAME&for=tract:*&in=county:047&in=state:36')
commute.columns = commute.iloc[0]
commute = commute[1:]

commute = commute.drop(['state', 'county'], axis=1)
commute.columns = ['TotalCommuting', 'driving17', 'public17',
                       'Name', 'tract']

print(commute.shape)
commute.head()

(761, 5)

,TotalCommuting,driving17,public17,Name,tract
1,1043,255,684,"Census Tract 70, Kings County, New York",007000
2,2172,305,1145,"Census Tract 106, Kings County, New York",010600
3,1915,200,1232,"Census Tract 108, Kings County, New York",010800
4,1227,180,804,"Census Tract 121, Kings County, New York",012100
5,1206,65,949,"Census Tract 129.02, Kings County, New York",012902

In [22]:
commute[commute.tract == '005300']

,TotalCommuting,driving17,public17,Name,tract
565,1373,230,574,"Census Tract 53, Kings County, New York",005300