In [2]:
import urllib.request
import pprint
import json
import pandas as pd
import geopandas as gpd

In [38]:
#testing google api for distance between two points for each mode of transport
for m in ['driving','walking','bicycling','transit']:
    with urllib.request.urlopen("https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=Brooklyn+Bridge,DC&destinations=Manhattan+New+York+City,NY&key=AIzaSyCi-jGFHT6QzQ4FKQgRI5dh85T1o4wmtrY&mode="+m) as url:
        data = json.loads(url.read().decode())
        pprint.pprint(data)

{'destination_addresses': ['Manhattan, New York, NY, USA'],
 'origin_addresses': ['Brooklyn Bridge, Brooklyn Bridge, New York, NY 10038, '
                      'USA'],
 'rows': [{'elements': [{'distance': {'text': '8.6 mi', 'value': 13822},
                         'duration': {'text': '24 mins', 'value': 1433},
                         'status': 'OK'}]}],
 'status': 'OK'}
{'destination_addresses': ['Manhattan, New York, NY, USA'],
 'origin_addresses': ['Brooklyn Bridge, Brooklyn Bridge, New York, NY 10038, '
                      'USA'],
 'rows': [{'elements': [{'distance': {'text': '5.5 mi', 'value': 8876},
                         'duration': {'text': '1 hour 54 mins', 'value': 6819},
                         'status': 'OK'}]}],
 'status': 'OK'}
{'destination_addresses': ['Manhattan, New York, NY, USA'],
 'origin_addresses': ['Brooklyn Bridge, Brooklyn Bridge, New York, NY 10038, '
                      'USA'],
 'rows': [{'elements': [{'distance': {'text': '6.8 mi', 'value': 11009},
                         'duration': {'text': '38 mins', 'value': 2260},
                         'status': 'OK'}]}],
 'status': 'OK'}
{'destination_addresses': ['Manhattan, New York, NY, USA'],
 'origin_addresses': ['Brooklyn Bridge, Brooklyn Bridge, New York, NY 10038, '
                      'USA'],
 'rows': [{'elements': [{'distance': {'text': '7.3 mi', 'value': 11760},
                         'duration': {'text': '33 mins', 'value': 1955},
                         'status': 'OK'}]}],
 'status': 'OK'}

In [5]:
subway_stations = pd.read_csv('https://data.cityofnewyork.us/api/views/kk4q-3rt2/rows.csv?accessType=DOWNLOAD')

In [6]:
subway_stations['lat'] = subway_stations.the_geom.map(lambda x: x.split(" ")[2].strip(")"))
subway_stations['lon'] = subway_stations.the_geom.map(lambda x: x.split(" ")[1].strip("("))

In [7]:
subway_stations.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,lat,lon
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.73005400028978,-73.99106999861966
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",40.71880300107709,-74.00019299927328
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",40.76172799961419,-73.98384899986625
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",40.68086213682956,-73.97499915116808
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",40.66471445143568,-73.89488591154061

In [8]:
pluto = pd.read_csv('pluto_18v2_1.csv')

C:\Users\siddh\Anaconda3\envs\kaggle\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (16,17,18,20,22,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
pluto.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healtharea',
       'sanitboro', 'sanitsub', 'address', 'zonedist1', 'zonedist2',
       'zonedist3', 'zonedist4', 'overlay1', 'overlay2', 'spdist1', 'spdist2',
       'spdist3', 'ltdheight', 'splitzone', 'bldgclass', 'landuse',
       'easements', 'ownertype', 'ownername', 'lotarea', 'bldgarea', 'comarea',
       'resarea', 'officearea', 'retailarea', 'garagearea', 'strgearea',
       'factryarea', 'otherarea', 'areasource', 'numbldgs', 'numfloors',
       'unitsres', 'unitstotal', 'lotfront', 'lotdepth', 'bldgfront',
       'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype', 'bsmtcode',
       'assessland', 'assesstot', 'exemptland', 'exempttot', 'yearbuilt',
       'yearalter1', 'yearalter2', 'histdist', 'landmark', 'builtfar',
       'residfar', 'commfar', 'facilfar', 'borocode', 'bbl', 'condono',
       'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode', 'sanborn',
       'taxmap', 'edesignum', 'appbbl', 'appdate', 'mappluto_f', 'plutomapid',
       'version', 'sanitdistrict', 'healthcenterdistrict', 'firm07_flag',
       'pfirm15_flag', 'rpaddate', 'dcasdate', 'zoningdate', 'landmkdate',
       'basempdate', 'masdate', 'polidate', 'edesigdate'],
      dtype='object')

In [10]:
# reading real time traffic data between plots
traffic_speeds = pd.read_csv('LinkSpeedQuery.txt', delim_whitespace=True)

In [11]:
traffic_speeds['EncodedPolyLine'][3]

'_o}vFxxvcMlF}ClEk@bEI|F|@vF|AtEv@jJ`Cfr@j]zPbKzPvQ'

In [12]:
traffic_speeds.head()

,id,Speed,TravelTime,Status,DataAsOf,linkId,linkPoints,EncodedPolyLine,EncodedPolyLineLvls,Owner,Transcom_id,Borough,linkName
0,1,9.32,555,0,4/16/2019 21:00:17,4616337,"40.74047,-74.009251 40.74137,-74.00893 40.7431...",}btwFx|ubMsD_AgJcAcR{ByJ_AsBFiEbByCXaFuAkLiDsT...,BBBBBBBBBBBBB,NYC_DOT_LIC,4616337,Manhattan,11th ave n ganservoort - 12th ave @ 40th st
1,106,18.01,125,0,4/16/2019 21:00:04,4616323,"40.77158,-73.994441 40.7713004,-73.99455 40.77...",kezwFf`sbMv@TxAVnDZe@Gz@J~@Xf@VlEnC??~KpH??vCp...,BBBBBBBBBBBBBBBBB,NYC_DOT_LIC,4616323,Manhattan,12th Ave S 57th St - 45th St
2,107,0.00,0,-101,1/1/1978 00:00:00,4616279,"40.64289,-74.21316 40.64275,-74.21222 40.64281...",aaawFdw}cMZyDKgMd@mF`GsN`FwJtAkCnBgDnGwKrBuD|D...,BBBBBBBBBBBBBBBBBBBBBBB,NYC_DOT_LIC,4616279,Staten Island,278 E BRUNSWICK AVENUE - SIE E SOUTH AVENUE
3,108,0.00,0,-101,1/1/1978 00:00:00,4616280,"40.62464,-74.17757 40.62345,-74.17679 40.62242...",_o}vFxxvcMlF}ClEk@bEI|F|@vF|AtEv@jJ`Cfr@j]zPbK...,BBBBBBBBBBB,NYC_DOT_LIC,4616280,Staten Island,278 E BRUNSWICK AVENUE - WSE S SOUTH AVENUE
4,110,50.95,151,0,4/16/2019 21:00:04,4616281,"40.5256,-74.23039 40.52551,-74.23214 40.52539,...",_djvF|badMP|IV`GXhY`Ajf@l@pX\zOp@`NTxL?nDmApXe...,BBBBBBBBBBBBBBB,NYC_DOT_LIC,4616281,Staten Island,440 N FRANCIS STREET - WSE N TYRELLAN AVE

In [13]:
traffic_speeds.shape

(153, 13)

In [14]:
len(set(traffic_speeds['EncodedPolyLine']))

153

In [15]:
import json
import requests 
import urllib
import numpy as np

#creating census api and url

myAPI = '6757d001d0d4f4e178c491cc870a7d27c179353b'
#read in in the variables available. the info you need is in the 1year ACS data
url = "https://api.census.gov/data/2017/acs/acs5/variables.json"
resp = requests.request('GET', url)
aff1y = json.loads(resp.text)

In [16]:
affkeys = np.array(list(aff1y['variables'].keys()))
affkeys

array(['for', 'in', 'ucgid', ..., 'C21001G_007E', 'B11001A_004E',
       'B17020C_011E'], dtype='<U14')

In [22]:
# Labor Force data for all counties in the US, 2017
Labor17vars = ['B23025_001E', 'B23025_007E', 'B23001_025E', 'B23001_032E',
               'B23001_039E', 'B23001_046E', 'B23001_053E', 'B23001_060E',
               'B23001_067E', 'B23001_139E', 'B23001_146E', 'B23001_111E',
               'B23001_153E', 'B23001_118E', 'B23001_125E', 'B23001_132E', 
               'B23001_074E', 'B23001_079E', 'B23001_084E', 'B23001_160E',
               'B23001_165E', 'B23001_170E']

#getting all the ACS data of age groups in the census area using Dana's code

Labor17str = ",".join(Labor17vars)
Labor17 = pd.read_json('https://api.census.gov/data/2017/acs/acs5?get='+
                          Labor17str +
                         ',NAME&for=tract:*&in=county:047&in=state:36')

Labor17.columns = Labor17.iloc[0]
Labor17 = Labor17[1:]


# converting dtypes to int

for col in Labor17vars:
    Labor17[col] = Labor17[col].astype(int)

# aggregating age groups and calculations
Labor17['LaborForce'] = Labor17['B23025_001E'] - Labor17['B23025_007E']
Labor17['PrimeAge'] = Labor17['B23001_025E'] + Labor17['B23001_032E'] +\
                      Labor17['B23001_039E'] + Labor17['B23001_046E'] +\
                      Labor17['B23001_111E'] + Labor17['B23001_118E'] +\
                      Labor17['B23001_125E'] + Labor17['B23001_132E']
Labor17['Over65'] = Labor17['B23001_074E'] + Labor17['B23001_079E'] +\
                    Labor17['B23001_084E'] + Labor17['B23001_160E'] +\
                    Labor17['B23001_165E'] + Labor17['B23001_170E']
Labor17['55-64'] = Labor17['B23001_053E'] + Labor17['B23001_060E'] +\
                   Labor17['B23001_067E'] + Labor17['B23001_139E'] +\
                   Labor17['B23001_146E'] + Labor17['B23001_153E']
Labor17['Under25'] = Labor17['LaborForce'] - Labor17['PrimeAge'] -\
                     Labor17['Over65'] - Labor17['55-64']

Labor17 = Labor17.drop(['state', 'county', 'B23025_001E', 'B23025_007E',
                        'B23001_025E', 'B23001_032E', 'B23001_039E',
                        'B23001_046E', 'B23001_111E', 'B23001_118E', 
                        'B23001_125E', 'B23001_132E', 'B23001_074E',
                        'B23001_079E', 'B23001_084E', 'B23001_160E',
                        'B23001_139E', 'B23001_146E', 'B23001_153E',
                        'B23001_053E', 'B23001_060E', 'B23001_067E',
                        'B23001_165E', 'B23001_170E'], axis=1)
# Labor17.columns = ['Name', 'STCO', 'LaborForce', 'PrimeAge','Over65', '55-64', 'Under25','tract']

print(Labor17.shape)
print(Labor17.dtypes)
Labor17.head()

(761, 7)
0
NAME          object
tract         object
LaborForce     int32
PrimeAge       int32
Over65         int32
55-64          int32
Under25        int32
dtype: object

,NAME,tract,LaborForce,PrimeAge,Over65,55-64,Under25
1,"Census Tract 70, Kings County, New York",007000,1129,735,94,226,74
2,"Census Tract 106, Kings County, New York",010600,2439,1819,23,395,202
3,"Census Tract 108, Kings County, New York",010800,2180,1685,19,306,170
4,"Census Tract 121, Kings County, New York",012100,1307,1112,19,104,72
5,"Census Tract 129.02, Kings County, New York",012902,1284,1044,26,123,91

In [23]:
#census tract that includes redhook
Labor17[Labor17.tract == '005300']

,NAME,tract,LaborForce,PrimeAge,Over65,55-64,Under25
565,"Census Tract 53, Kings County, New York",005300,1508,1160,23,207,118

In [24]:
#different modes of transport from ACS
total = 'B08006_001E' #Estimate!!Total
drive = 'B08006_002E' #Estimate!!Total!!Car truck or van
car_truck_alone = 'B08006_003E' #Estimate!!Total!!Car truck or van!!Drove alone
car_truck_carpool = 'B08006_004E' #Estimate!!Total!!Car truck or van!!Carpooled
public_transport = 'B08006_008E' #Estimate!!Total!!Public transportation (excluding taxicab)
subway = 'B08006_011E' #Estimate!!Total!!Public transportation (excluding taxicab)!!Subway or elevated
ferry = 'B08006_013E' #Estimate!!Total!!Public transportation (excluding taxicab)!!Ferryboat
bus = 'B08006_009E' #Estimate!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus
biking = 'B08006_014E' #Estimate!!Total!!Bicycle
walked = 'B08006_015E' #Estimate!!Total!!Walked
taxi = 'B08006_016E' #Estimate!!Total!!Taxicab motorcycle or other means
work_from_home = 'B08006_017E' #Estimate!!Total!!Worked at home

In [25]:
transport_acs = pd.read_json('https://api.census.gov/data/2017/acs/acs5?get='+
                             total +','+
                             drive +','+
                             car_truck_alone +','+
                             car_truck_carpool +','+
                             public_transport +','+
                             subway +','+
                             ferry +','+
                             bus+','+
                             biking +','+
                             walked +','+
                             taxi +','+
                             work_from_home +','+
                             'NAME&for=tract:*&in=county:047&in=state:36')

In [26]:
transport_acs.columns = transport_acs.iloc[0]
transport_acs.drop([0], axis=0,inplace=True)
transport_acs.rename(columns={'B08006_001E':'total','B08006_002E':'drive','B08006_003E':'car_truck_alone'\
                             , 'B08006_004E':'car_truck_carpool','B08006_008E':'public_transport',\
                             'B08006_011E':'subway','B08006_013E':'ferry','B08006_014E':'biking',\
                             'B08006_015E':'walked','B08006_016E':'taxi','B08006_017E':'work_from_home',\
                             'B08006_009E':'bus'},inplace=True)

In [27]:
transport_acs.head()

,total,drive,car_truck_alone,car_truck_carpool,public_transport,subway,ferry,bus,biking,walked,taxi,work_from_home,NAME,state,county,tract
1,1043,303,221,82,684,415,0,259,0,28,0,28,"Census Tract 70, Kings County, New York",36,047,007000
2,2172,560,156,404,1145,872,0,199,0,463,4,0,"Census Tract 106, Kings County, New York",36,047,010600
3,1915,347,130,217,1232,845,0,358,0,277,9,50,"Census Tract 108, Kings County, New York",36,047,010800
4,1227,189,177,12,804,769,0,30,24,59,13,138,"Census Tract 121, Kings County, New York",36,047,012100
5,1206,63,63,0,949,914,6,20,13,44,45,92,"Census Tract 129.02, Kings County, New York",36,047,012902

In [28]:
#transport modes for people living in the census tract with red hook
transport_acs[transport_acs.tract == '005300']

,total,drive,car_truck_alone,car_truck_carpool,public_transport,subway,ferry,bus,biking,walked,taxi,work_from_home,NAME,state,county,tract
565,1373,283,192,91,574,439,0,135,180,220,5,111,"Census Tract 53, Kings County, New York",36,047,005300