# Property values

Just the exploratory phase for now.

In [33]:
import urllib.request
import PyPDF2
import pandas as pd

In [2]:
url = 'https://data.cityofnewyork.us/api/views/uzf5-f8n2/files/8d9ba1d7-9b7a-43de-b741-bd9a35839e03?filename=Annualized%20Rolling%20Sales%20Update.zip'
urllib.request.urlretrieve(url, 'rolling_sales.zip')
!mkdir data/rolling_sales
!unzip rolling_sales.zip -d data/rolling_sales
!rm -r rolling_sales.zip

Archive:  rolling_sales.zip
  inflating: data/rolling_sales/2009_bronx.xls
  inflating: data/rolling_sales/2009_brooklyn.xls
  inflating: data/rolling_sales/2009_manhattan.xls
  inflating: data/rolling_sales/2009_queens.xls
  inflating: data/rolling_sales/2009_statenisland.xls
  inflating: data/rolling_sales/2010_bronx.xls
  inflating: data/rolling_sales/2010_brooklyn.xls
  inflating: data/rolling_sales/2010_manhattan.xls
  inflating: data/rolling_sales/2010_queens.xls
  inflating: data/rolling_sales/2010_statenisland.xls
  inflating: data/rolling_sales/2011_bronx.xls
  inflating: data/rolling_sales/2011_brooklyn.xls
  inflating: data/rolling_sales/2011_manhattan.xls
  inflating: data/rolling_sales/2011_queens.xls
  inflating: data/rolling_sales/2011_statenisland.xls
  inflating: data/rolling_sales/2012_bronx.xls
  inflating: data/rolling_sales/2012_brooklyn.xls
  inflating: data/rolling_sales/2012_manhattan.xls
  inflating: data/rolling_sales/2012_queens.xls
  inflating: data/rolling_sales/2012_statenisland.xls
  inflating: data/rolling_sales/2013_bronx.xls
  inflating: data/rolling_sales/2013_brooklyn.xls
  inflating: data/rolling_sales/2013_manhattan.xls
  inflating: data/rolling_sales/2013_queens.xls
  inflating: data/rolling_sales/2013_statenisland.xls
  inflating: data/rolling_sales/2014_bronx.xls
  inflating: data/rolling_sales/2014_brooklyn.xls
  inflating: data/rolling_sales/2014_manhattan.xls
  inflating: data/rolling_sales/2014_queens.xls
  inflating: data/rolling_sales/2014_statenisland.xls
  inflating: data/rolling_sales/2015_bronx.xls
  inflating: data/rolling_sales/2015_brooklyn.xls
  inflating: data/rolling_sales/2015_manhattan.xls
  inflating: data/rolling_sales/2015_queens.xls
  inflating: data/rolling_sales/2015_statenisland.xls
  inflating: data/rolling_sales/glossary_rsf071607.pdf
  inflating: data/rolling_sales/sales_2007_bronx.xls
  inflating: data/rolling_sales/sales_2007_brooklyn.xls
  inflating: data/rolling_sales/sales_2007_manhattan.xls
  inflating: data/rolling_sales/sales_2007_queens.xls
  inflating: data/rolling_sales/sales_2007_statenisland.xls
  inflating: data/rolling_sales/sales_2008_bronx.xls
  inflating: data/rolling_sales/sales_2008_brooklyn.xls
  inflating: data/rolling_sales/sales_2008_manhattan.xls
  inflating: data/rolling_sales/sales_2008_queens.xls
  inflating: data/rolling_sales/sales_2008_statenisland.xls
  inflating: data/rolling_sales/sales_bronx_03.xls
  inflating: data/rolling_sales/sales_bronx_04.xls
  inflating: data/rolling_sales/sales_bronx_05.xls
  inflating: data/rolling_sales/sales_bronx_06.xls
  inflating: data/rolling_sales/sales_brooklyn_03.xls
  inflating: data/rolling_sales/sales_brooklyn_04.xls
  inflating: data/rolling_sales/sales_brooklyn_05.xls
  inflating: data/rolling_sales/sales_brooklyn_06.xls
  inflating: data/rolling_sales/sales_manhattan_03.xls
  inflating: data/rolling_sales/sales_manhattan_04.xls
  inflating: data/rolling_sales/sales_manhattan_05.xls
  inflating: data/rolling_sales/sales_manhattan_06.xls
  inflating: data/rolling_sales/sales_queens_03.xls
  inflating: data/rolling_sales/sales_queens_04.xls
  inflating: data/rolling_sales/sales_queens_05.xls
  inflating: data/rolling_sales/sales_queens_06.xls
  inflating: data/rolling_sales/sales_si_03.xls
  inflating: data/rolling_sales/sales_si_04.xls
  inflating: data/rolling_sales/sales_si_05.xls
  inflating: data/rolling_sales/sales_si_06.xls

In [4]:
# Get a list of all the downloaded files
!ls data/rolling_sales

2009_bronx.xls              2015_queens.xls
2009_brooklyn.xls           2015_statenisland.xls
2009_manhattan.xls          glossary_rsf071607.pdf
2009_queens.xls             sales_2007_bronx.xls
2009_statenisland.xls       sales_2007_brooklyn.xls
2010_bronx.xls              sales_2007_manhattan.xls
2010_brooklyn.xls           sales_2007_queens.xls
2010_manhattan.xls          sales_2007_statenisland.xls
2010_queens.xls             sales_2008_bronx.xls
2010_statenisland.xls       sales_2008_brooklyn.xls
2011_bronx.xls              sales_2008_manhattan.xls
2011_brooklyn.xls           sales_2008_queens.xls
2011_manhattan.xls          sales_2008_statenisland.xls
2011_queens.xls             sales_bronx_03.xls
2011_statenisland.xls       sales_bronx_04.xls
2012_bronx.xls              sales_bronx_05.xls
2012_brooklyn.xls           sales_bronx_06.xls
2012_manhattan.xls          sales_brooklyn_03.xls
2012_queens.xls             sales_brooklyn_04.xls
2012_statenisland.xls       sales_brooklyn_05.xls
2013_bronx.xls              sales_brooklyn_06.xls
2013_brooklyn.xls           sales_manhattan_03.xls
2013_manhattan.xls          sales_manhattan_04.xls
2013_queens.xls             sales_manhattan_05.xls
2013_statenisland.xls       sales_manhattan_06.xls
2014_bronx.xls              sales_queens_03.xls
2014_brooklyn.xls           sales_queens_04.xls
2014_manhattan.xls          sales_queens_05.xls
2014_queens.xls             sales_queens_06.xls
2014_statenisland.xls       sales_si_03.xls
2015_bronx.xls              sales_si_04.xls
2015_brooklyn.xls           sales_si_05.xls
2015_manhattan.xls          sales_si_06.xls

In [32]:
!cd data/rolling_sales | ls

README.md       data            geo_scope.ipynb prop_vals.ipynb yelp_data.ipynb

## Reading the glossary PDF
   
I used the PyPDF2 library to read this PDF.

In [7]:
gloss = PyPDF2.PdfFileReader('data/rolling_sales/glossary_rsf071607.pdf')

In [18]:
for i in range(gloss.getNumPages()):
    print("Page {}:".format(i))
    print("")
    print(gloss.getPage(i).extractText())
    print("")

Page 0:

        I. GLOSSARY OF TERMS
 II.     HOW TO POWER SORT FROM EXCEL
Glossary of Terms for Property Sales Files  I. GLOSSARY OF TERMS The following terms follow the column headings across the spreadsheet, from left to right.   Borough:  The name of the borough in which the property is located.  Neighborhood: Department of Finance assessors determine the neighborhood name in the course of valuing properties. The common name of the neighborhood is generally the same as the name Finance designates. However, there may be slight differences in neighborhood boundary lines and some sub-neighborhoods may not be included.  Building Class Category:
This is a field that we are including so that users of the Rolling Sales Files can easily identify similar properties by broad usage (e.g. One Family Homes) without looking up individual Building Classes. Files are sorted by Borough, Neighborhood, Building Class Category, Block and Lot.  Tax Class at Present: Every property in the city is assigned to one of four tax classes (Classes 1, 2, 3, and 4), based on the use of the property.  Class 1: Includes most residential property of up to three units (such as one-, two-, and three-family homes and small stores or offices with one or two attached apartments), vacant land that is zoned for residential use, and most condominiums that are not more than three stories.  Class 2: Includes all other property that is primarily residential, such as cooperatives and condominiums.  Class 3: Includes property with equipment owned by a gas, telephone or electric
company.  Class 4: Includes all other properties not included in class 1,2, and 3, such as offices, factories, warehouses, garage buildings, etc.   Glossary of Terms for Property Sales Files

Page 1:

  Block: A Tax Block is a sub-division of the borough on which real properties are located. The Department of Finance uses a Borough-Block-Lot classification to label all real property in the City. ﬁWhereasﬂ addresses describe the street location of a property, the block and lot distinguishes one unit of real property from another, such as the different condominiums in a single building. Also, block and lots are not subject to name changes based on which side of the parcel the building puts its entrance on.   Lot:   A Tax Lot is a subdivision of a Tax Block and represents the property unique location.   Easement:    An easement is a right, such as a right of way, which allows an entity to make limited use of another™s real property. For example:  MTA railroad tracks that run across a portion of another property.  Building Class at Present: The Building Classification is used to describe a property™s constructive use. The first position of the Building Class is a letter that is used to describe a general class of properties (for example ﬁAﬂ signifies one-family homes, ﬁOﬂ signifies office buildings. ﬁRﬂ signifies condominiums). The second position, a number, adds more specific information about the property™s use or construction style (using our previous examples ﬁA0ﬂ is a Cape Cod style one family home, ﬁO4ﬂ is a tower type office building and ﬁR5ﬂ is a commercial condominium unit). The term Building Class used by the Department of Finance is interchangeable with the term Building Code used by the Department of Buildings. See NYC Building Classifications.  Address:  The street address of the property as listed on the Sales File. Coop sales include the apartment number in the address field.  Zip Code:  The property™s postal code  Residential Units: The number of residential units at the listed property.  Commercial Units: The number of commercial units at the listed property.  Total Units: The total number of units at the listed property.  Land Square Feet: The land area of the property listed in square feet.  Gross Square Feet: The total area of all the floors of a building as measured from the exterior surfaces of the outside walls of the building, including the land area and space within any building or structure on the property.

Page 2:

  Year Built: Year the structure on the property was built.  Building Class at Time of Sale: The Building Classification is used to describe a property™s constructive use. The first position of the Building Class is a letter that is used to describe a general class of properties (for example ﬁAﬂ signifies one-family homes, ﬁOﬂ signifies office buildings. ﬁRﬂ signifies condominiums). The second position, a number, adds more specific information about the property™s use or construction style (using our previous examples ﬁA0ﬂ is a Cape Cod style one family home, ﬁO4ﬂ is a tower type office building and ﬁR5ﬂ is a commercial condominium unit). The term Building Class as used by the Department of Finance is interchangeable with the term Building Code as used by the Department of Buildings.  Sales Price: Price paid for the property.   Sale Date: Date the property sold.   $0 Sales Price: A $0 sale indicates that there was a transfer of ownership without a cash consideration. There can be a number of reasons for a $0 sale including transfers of ownership from parents to children.  II. HOW TO POWER SORT FROM EXCEL  Step One: Copy the entire excel spreadsheet into a new excel document.  Step Two
: Go the row containing the names of all the columns. This is called a Header Row.  Click on the title called Borough (Column A) in the Header Row and hold down the left mouse button and move to the last column called Sale Date (Column Q).  Continue holding down the left mouse button and scroll down to the last row in the spreadsheet. The document will be highlighted. Release the mouse.  Step Three: Copy selection into Select the Data menu from the toolbar, and then; Select the Sort option, and from there; Select Header Row.
Use the drop down boxes to help you sort the categories.           07/16/07

## Brooklyn data

I checked the columns for all the data between 2009 and 2015 and they all share the same column names (once you strip whitespace), allowing these dataframes to be merged without losing any data.

In [83]:
dfs_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2009, 2011):
    temp_df = pd.read_excel('data/rolling_sales/{}_brooklyn.xls'.format(i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    dfs_list.append(temp_df)
for i in range(2011, 2016):
    temp_df = pd.read_excel('data/rolling_sales/{}_brooklyn.xls'.format(i), skiprows=4)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    dfs_list.append(temp_df)

In [84]:
pv_df = pd.concat(dfs_list)

In [85]:
pv_df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,3,BATH BEACH,01 ONE FAMILY HOMES,1,6360,75,,A5,72 BAY 10TH STREET,,...,1,0,1,2513,1428,1930,1,A5,155356,2009-08-11
1,3,BATH BEACH,01 ONE FAMILY HOMES,1,6360,157,,A5,36 BAY 10TH STREET,,...,1,0,1,1547,1428,1930,1,A5,505000,2009-03-05
2,3,BATH BEACH,01 ONE FAMILY HOMES,1,6364,2,,A5,1649 BENSON AVENUE,,...,1,0,1,1638,972,1930,1,A5,0,2009-10-23
3,3,BATH BEACH,01 ONE FAMILY HOMES,1,6364,8,,B3,1631 BENSON AVENUE,,...,2,0,2,2688,1867,1930,1,A1,410000,2009-03-11
4,3,BATH BEACH,01 ONE FAMILY HOMES,1,6364,72,,A5,68 BAY 14TH STREET,,...,1,0,1,1950,972,1950,1,A5,455000,2009-08-21

In [86]:
pv_df.shape

(159427, 21)

## Note: This next part might not be right

In [92]:
grouped = pv_df.groupby(test)

In [97]:
grouped.mean().head()

,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
SALE DATE,,,,,,,,,,,,
2009-01,3.0,4382.726490,259.501077,11219.811917,2.089734,0.173726,2.263460,2396.298636,2473.103374,1647.704235,1.718593,364662.200287
2009-02,3.0,4528.231555,209.437571,11216.619183,1.983541,0.570942,2.553916,7195.575482,8127.562429,1771.143587,2.274120,225847.269580
2009-03,3.0,4547.961210,282.887574,11219.455621,2.034188,0.219592,2.253780,2068.414859,2632.337936,1695.503616,1.623274,300127.450362
2009-04,3.0,4662.506533,278.691776,11220.152191,2.495772,0.137586,2.633359,2062.051499,2823.959262,1652.852421,1.578786,283325.941583
2009-05,3.0,4511.538139,306.802659,11219.671798,2.233030,0.174948,2.407978,1880.658502,2821.974108,1663.328901,1.622813,288432.625612